{% extends 'todo/base.html' %}

{% block content %}
    <h1>{{ todo.title }}</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    <br><br>

    <form action="{% url 'complete_todo' todo.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Complete</button>
    </form>

    <br><br>

    <form action="{% url 'delete_todo' todo.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock %}