{% extends 'resume/base.html' %}

{% block content %}
    <header>
        <a href="{% url 'blog:all_blogs' %}">Blogs</a>
    </header>

    <h1>Hello World!</h1>

    {% load static %}
    <a href="{% static 'resume/110-ecommerce-optimizations.pdf' %}">View 110 E-Commerce Optimizations</a>
    <img src="{% static 'resume/smiley.jpg' %}">

    <section>
        {% for project in projects %}
            <div>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <img src="{{ project.image.url }}" alt="{{ project.title }}"/>

                {% if project.url %}
                    <a href="{{ project.url }}" target="_blank">Link</a>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}